interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://news.ycombinator.com/rss
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><rss version="2.0"><channel><title>Hacker News</title><link>https://news.ycombinator.com/</link><description>Links
        for the intellectually curious, ranked by readers.</description><item><title>Tom Brown used GOP
        ties to broker a $1.25B/month SpaceX compute deal</title><link>https://wsj.com/tech/ai/tom-brown-athropic-669005ad</link><pubDate>Sat,
        10 Oct 2026 15:04:38 GMT</pubDate><comments>https://news.ycombinator.com/item?id=50033678</comments><description><![CDATA[<a
        href="https://news.ycombinator.com/item?id=50033678">Comments</a>]]></description></item></channel></rss>
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://wsj.com/tech/ai/tom-brown-athropic-669005ad
  response:
    body:
      string: <html><body>Forbidden</body></html>
    headers:
      Content-Type:
      - text/html
    status:
      code: 403
      message: Error
- request:
    body: null
    headers:
    method: GET
    uri: https://hacker-news.firebaseio.com/v0/item/50033678.json
  response:
    body:
      string: '{"by":"utiiiD","descendants":37,"id":50033678,"kids":[50036267,50035643,50036274,50035250,50035505,50034857,50035726,50035655],"score":99,"time":1791644678,"title":"Tom
        Brown used GOP ties to broker a $1.25B/month SpaceX compute deal","type":"story","url":"https://wsj.com/tech/ai/tom-brown-athropic-669005ad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://hacker-news.firebaseio.com/v0/item/50036267.json
  response:
    body:
      string: '{"by":"dtf","id":50036267,"parent":50033678,"text":"<i>&quot;He offered to mop the floors
        at OpenAI to get his foot in the door.&quot;</i><p>The American dream is alive and kicking.","time":1791660382,"type":"comment"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hacker-news.firebaseio.com/v0/item/50035505.json
  response:
    body:
      string: '{"deleted":true,"id":50035505,"parent":50033678,"time":1791655612,"type":"comment"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://hacker-news.firebaseio.com/v0/item/50034857.json
  response:
    body:
      string: '{"by":"throwaway132448","dead":true,"id":50034857,"parent":50033678,"text":"[dead]","time":1791651840,"type":"comment"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://hacker-news.firebaseio.com/v0/item/50035726.json
  response:
    body:
      string: '{"by":"gsky","id":50035726,"parent":50033678,"text":"No sirprise after all Oligarchs rule
        america","time":1791657079,"type":"comment"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
