interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"access_token": "<scrubbed-access-token>", "token_type": "bearer",
        "expires_in": 86400, "scope": "*"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-reddit-loid:
      - 000000002od4jyzter.2.1791381595250.Z0FBQUFBQnF4bEJiSzdCNGE5NWRQZkUtMzRYdVZyNVpEblBYaXFhdmZGUTloRUl5X0hFTDlaWVZiY0htY3pyVWwzU0MweG13dkpVbkZKM1lMNjVQUVhSYl9aZ0FSUjRONFgxM2JObjNVWFNVck1KOHhCa3dqcWZ2WkMzVFY4WEdfWlh2NGU2aGNLZ2I
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/r/rust/about/?raw_json=1
  response:
    body:
      string: '{"kind": "t5", "data": {"user_flair_background_color": null, "submit_text_html":
        "\u003C!-- SC_OFF --\u003E\u003Cdiv class=\"md\"\u003E\u003Ch2\u003EThe Rust
        programming language.\u003C/h2\u003E\n\n\u003Ch2\u003EFor the video game,
        see \u003Ca href=\"/r/playrust\"\u003E/r/playrust\u003C/a\u003E instead.\u003C/h2\u003E\n\u003C/div\u003E\u003C!--
        SC_ON --\u003E", "restrict_posting": true, "user_is_banned": null, "free_form_reports":
        true, "wiki_enabled": true, "user_is_muted": null, "user_can_flair_in_sr":
        null, "display_name": "rust", "header_img": "https://b.thumbs.redditmedia.com/LRVZAleMnMpem_LXPPFP8mjoLP-Gz7THdBqyV7NMhHU.png",
        "title": "The Rust Programming Language", "original_content_tag_enabled":
        false, "allow_galleries": false, "icon_size": [256, 256], "primary_color":
        "#ff8d3a", "icon_img": "https://b.thumbs.redditmedia.com/RGBpWy1J00g1sxC71l84oSYnZpvh5DOGUhcbtKz9QcE.png",
        "display_name_prefixed": "r/rust", "public_traffic": false, "subscribers":
        425293, "user_flair_richtext": [], "name": "t5_2s7lj", "quarantine": false,
        "hide_ads": false, "prediction_leaderboard_entry_type": 2, "emojis_enabled":
        false, "advertiser_category": "", "public_description": "A place for all things
        related to the Rust programming language\u2014an open-source systems language
        that emphasizes performance, reliability, and productivity.", "comment_score_hide_mins":
        0, "allow_predictions": false, "user_has_favorited": null, "user_flair_template_id":
        null, "community_icon": "https://styles.redditmedia.com/t5_2s7lj/styles/communityIcon_pjg3ktzyju771.png?width=256\u0026s=5e99f497418f31f47439c0e8de10553ea9150a00",
        "banner_background_image": "", "header_title": "", "community_reviewed": true,
        "submit_text": "## The Rust programming language. \n## For the video game,
        see /r/playrust instead.", "description_html": "\u003C!-- SC_OFF --\u003E\u003Cdiv
        class=\"md\"\u003E\u003Ch3\u003E\u003Cstrong\u003EPlease read \u003Ca href=\"https://www.rust-lang.org/policies/code-of-conduct\"\u003EThe
        Rust Community Code of Conduct\u003C/a\u003E\u003C/strong\u003E\u003C/h3\u003E\n\n\u003Chr/\u003E\n\n\u003Ch3\u003EThe
        Rust Programming Language\u003C/h3\u003E\n\n\u003Cp\u003EA place for all things
        related to \u003Ca href=\"https://www.rust-lang.org/\"\u003Ethe Rust programming
        lang[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/r/python/about/?raw_json=1
  response:
    body:
      string: '{"kind": "t5", "data": {"user_flair_background_color": null, "submit_text_html":
        null, "restrict_posting": true, "user_is_banned": null, "free_form_reports":
        true, "wiki_enabled": true, "user_is_muted": null, "user_can_flair_in_sr":
        null, "display_name": "Python", "header_img": "https://b.thumbs.redditmedia.com/8HiO52_EuT[...]
