interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"access_token": "<scrubbed-access-token>", "token_type": "bearer",
        "expires_in": 86400, "scope": "*"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-reddit-loid:
      - 000000002od4jwxidi.2.1791381575799.Z0FBQUFBQnF4bEJIWlNzVkpNT1MzbnJYLXJtcEtKZzdFY09BTUVPaEU0cTdUSFhTb3lYQkhCMEgtajFFN1RHVHpUNFh0NXhRcFhIcTMyTWxIRTdUZEdBQURuUmhfWVNZVkhYZXRGVG9JeXliYklYSFNfbEFEd1gtbEZQV21OQnVfc0RSRzZ2UzFIY2k
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/r/this_subreddit_definitely_does_not_exist_12345/about/?raw_json=1
  response:
    body:
      string: "<!doctype html><html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\"
        xml:lang=\"en\"><head><title>reddit.com: page not found</title><meta name=\"keywords\"
        content=\" reddit, reddit.com, vote, comment, submit \" /><meta name=\"description\"
        content=\"Reddit gives you the best of the internet in one place. Get a constantly
        updating feed of breaking news, fun stories, pics, memes, and videos just
        for you. Passionate about something niche? Reddit has thousands of vibrant
        communities with people that share your interests. Alternatively, find out
        what\u2019s trending across all of Reddit on r/popular. Reddit is also anonymous
        so you can be yourself, with your Reddit profile and persona disconnected
        from your real-world identity.\" /><meta name=\"referrer\" content=\"origin-when-cross-origin\"><meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" /><link type=\"application/opensearchdescription+xml\"
        rel=\"search\" href=\"/static/opensearch.xml\"/><link rel=\"canonical\" href=\"https://www.reddit.com/r/this_subreddit_definitely_does_not_exist_12345/about/?raw_json=1\"
        /><meta name=\"viewport\" content=\"width=1024\"><link rel=\"dns-prefetch\"
        href=\"//out.reddit.com\"><link rel=\"preconnect\" href=\"//out.reddit.com\"><link
        rel=\"apple-touch-icon\" sizes=\"57x57\" href=\"//www.redditstatic.com/desktop2x/img/favico[...]
