interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"access_token": "<scrubbed-access-token>", "token_type": "bearer",
        "expires_in": 86400, "scope": "*"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-reddit-loid:
      - 000000002od4jwwhp9.2.1791381575532.Z0FBQUFBQnF4bEJIbkZyZnd2Ums1RmFNTVEydUYzV2J4V0F1ZWlKelZWVld4TGRkalpjbmhud3BKOV9fLURza24yWDdta0dsT01hY0g1d3BaeFpHcVQ1eGhYajFJeWp2cXlRMFFXQTdCQTFnVUVNbGRmRmhqNHZjY2xOVncxOTU4RGczMnFPT3hCN0s
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/r/python/about/?raw_json=1
  response:
    body:
      string: '{"kind": "t5", "data": {"user_flair_background_color": null, "submit_text_html":
        null, "restrict_posting": true, "user_is_banned": null, "free_form_reports":
        true, "wiki_enabled": true, "user_is_muted": null, "user_can_flair_in_sr":
        null, "display_name": "Python", "header_img": "https://b.thumbs.redditmedia.com/8HiO52_EuT_h63Qg.png",
        "title": "Python", "original_content_tag_enabled": false, "allow_galleries":
        false, "icon_size": null, "primary_color": "#ffcc00", "icon_img": "", "display_name_prefixed":
        "r/Python", "public_traffic": false, "subscribers": 1516008, "user_flair_richtext":
        [], "name": "t5_2qh0y", "quarantine": false, "hide_ads": false, "prediction_leaderboard_entry_type":
        2, "emojis_enabled": true, "advertiser_category": "Technology", "public_description":
        "The largest Python community for Reddit! Stay up to date with the latest
        news, packages, and meta information relating to the Python programming language.
        \n---\n\nIf you have questions or are new to Python use r/LearnPython", "comment_score_hide_mins":
        60, "allow_predictions": false, "user_has_favorited": null, "user_flair_template_id":
        null, "community_icon": "https://styles.redditmedia.com/t5_2qh0y/styles/communityIcon_lctik80p96tg1.png?width=256\u0026s=6d91fcc92d9f08c5ba30096d43a555ddd0edbc7d",
        "banner_background_image": "https://styles.redditmedia.com/t5_2qh0y/styles/bannerBackgroundImage_cd73kiu1502d1.png?width=4000\u0026s=adab92e03af7e628f0df484bb7aab107176435b7",
        "header_title": "news about the dynamic, interpreted, interactive, object-oriented,
        extensible programming language Python", "community_reviewed": true, "submit_text":
        "", "description_html": "\u003C!-- SC_OFF --\u003E\u003Cdiv class=\"md\"\u003E\u003Ch4\u003E\u003Ca
        href=\"https://discord.gg/python\"\u003EThe Python Discord\u003C/a\u003E\u003C/h4\u003E\n\n\u003Cp\u003ENews
        about the dynamic, interpreted, interactive, object-oriented, extensible programming
        language Python\u003C/p\u003E\n\n\u003Ch1\u003EUpcoming Events\u003C/h1\u003E\n\n\u003Cp\u003E\u003Ca
        href=\"https://www.python.org/events/\"\u003EFull Events Calendar\u003C/a\u003E
        \u003C/[...]
