interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"access_token": "<scrubbed-access-token>", "token_type": "bearer",
        "expires_in": 86400, "scope": "*"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-reddit-loid:
      - 000000002od4jxibeu.2.1791381581268.Z0FBQUFBQnF4bEJOdlpqbnJLSlItYkQtcnpVN19tRndEYkQ5d0ZjamNFS3dEcjU0RmtCZ0dlb0NNbl9XQ1gxVXZ4SFpPVXdKc1lmYjdfRUpCZ0ViQzh5TGpHTEViWnh0TjBZeDQ5RjM4QmNFMUl3ZWxpVFRzYm5aaHVnYlFvbUFKd0Q1NGR2akdEREE
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/r/programming/hot?limit=60&raw_json=1
  response:
    body:
      string: '{"kind": "Listing", "data": {"after": "t3_1wrnyer", "dist": 60, "modhash":
        "", "geo_filter": null, "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "programming", "selftext": "", "author_fullname": "t2_yb98f",
        "saved": false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title":
        "Anti-Patterns in Software Blogging", "link_flair_richtext": [], "subreddit_name_prefixed":
        "r/programming", "hidden": false, "pwls": 6, "link_flair_css_class": null,
        "downs": 0, "top_awarded_type": null, "hide_score": true, "name": "t3_1wzw4cw",
        "quarantine": false, "link_flair_text_color": "dark", "upvote_ratio": 0.96,
        "author_flair_background_color": null, "subreddit_type": "public", "ups":
        21, "total_awards_received": 0, "media_embed": {}, "author_flair_template_id":
        null, "is_original_content": false, "user_reports": [], "secure_media": null,
        "is_reddit_media_domain": false, "is_meta": false, "category": null, "secure_media_embed":
        {}, "link_flair_text": null, "can_mod_post": false, "score": 21, "approved_by":
        null, "is_created_from_ads_ui": false, "author_premium": false, "thumbnail":
        "", "edited": false, "author_flair_css_class": null, "author_flair_richtext":
        [], "gildings": {}, "content_categories": null, "is_self": false, "mod_note":
        null, "created": 1791378604.0, "link_flair_type": "text", "wls": 6, "removed_by_category":
        null, "banned_by": null, "author_flair_type": "text", "domain": "refactoringenglish.com",
        "allow_live_comments": false, "selftext_html": null, "likes": null, "suggested_sort":
        null, "banned_at_utc": null, "url_overridden_by_dest": "https://refactoringenglish.com/blog/anti-patterns-software-blogging/",
        "view_count": null, "archived": false, "no_follow": false, "is_crosspostable":
        false, "pinned": false, "over_18": false, "all_awardings": [], "awarders":
        [], "media_only": false, "can_gild": false, "spoiler": false, "locked": false,
        "author_flair_text": null, "treatment_tags": [], "visited": false, "removed_by":
        null, "num_reports": null, "distinguished": null, "subreddit_id": "t5_2fwo",
        "author_is_blocked": false, "mod_reason_by": null, "removal_reason": null,
        "link_flair_background_color": "", "id": "1wzw4cw", "is_robot_indexable":
        true, "report_reasons": null, "author": "mtlynch", "discussion_type": null,
        "num_comments": 2, "send_replies": true, "contest_mode": false, "mod_reports":
        [], "author_patreon_flair": false, "author_flair_text_color": null, "permalink":
        "/r/programming/comments/1wzw4cw/antipatterns_in_software_blogging/", "stickied":
        false, "url": "https://refactoringenglish.com/blog/anti-patterns-software-blogging/",
        "subreddit_subscribers": 6925138, "created_utc": 1791378604.0, "num_crossposts":
        0, "media": null, "is_video": false}}, {"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "programming", "selftext": "", "author_fullname": "t2_1t3y5s",
        "saved": false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title":
        "StackOverflow Developer Survey Results 2026", "link_flair_richtext": [],
        "subreddit_name_prefixed": "r/programming", "hidden": false, "pwls": 6, "link_flair_css_class":
        null, "downs": 0, "top_awarded_type": null, "hide_score": false, "name": [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://refactoringenglish.com/blog/anti-patterns-software-blogging/
  response:
    body:
      string: "<!doctype html><html lang=en><head><title>Anti-Patterns in Software
        Blogging \xB7 Refactoring English</title><meta charset=utf-8><meta http-equiv=X-UA-Compatible
        content=\"IE=edge\"><meta name=viewport content=\"width=device-width,initial-scale=1\"><meta
        name=description content=\"Effective writing for software developers\"><link
        rel=\"shortcut icon\" href=/favicon.ico><link rel=icon type=image/png href=/favicon/favicon-96x96.png
        sizes=96x96><link rel=icon type=image/svg+xml href=/favicon/favicon.svg><link
        rel=apple-touch-icon sizes=180x180 href=/favicon/apple-touch-icon.png><link
        rel=manifest href=/favicon/site.webmanifest><link rel=alternate type=application/rss+xml
        href=https://refactoringenglish.com/index.xml title=\"Refactoring English\"><meta
        property=\"og:title\" content=\"Anti-Patterns in Software Blogging\"><meta
        property=\"og:description\" content=\"Effective writing for software developers\"><meta
        property=\"og:type\" content=\"article\"><meta property=\"og:url\" content=\"https://refactoringenglish.com/\"><base
        href=https://refactoringenglish.com/blog/anti-patterns-software-blogging/><link
        rel=canonical href=https://refactoringenglish.com/blog/anti-patterns-software-blogging/><meta
        property=\"article:published_time\" content=\"2026-10-07T00:00:00+00:00\"><meta
        name=twitter:card content=\"summary_large_image\"><meta property=\"og:image\"
        content=\"https://refactoringenglish.com/blog/anti-patterns-software-blogging/not-quite-how-devs-read-og.webp\"><meta
        name=twitter:site content=\"@deliberatecoder\"><meta name=twitter:creator
        content=\"@deliberatecoder\"><script async src=https://plausible.io/js/pa-t8luz9H5BGoYQNaqxEvMv.js></script><script>window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(e){plausible.o=e||{}},plausible.init(),window.addEventListener(\"load\",function(){plausible(\"pageview\")})</script><link
        rel=stylesheet href=/scss/bootstrap-custom.5bd21e7a80a78714d93f2be80793d3dcffd760dc84087c24e8a881fc323148fd.css
        integrity=\"sha256-W9IeeoCnhxTZPyvoB5PT3P/XYNyECHwk6KiB/DIxSP0=\" crossorigin=anonymous><script
        src=/js/bootstrap-custom.3d1e6598eb6fb18a64dcdc62a0c8ebcc70d71c4e20e787bd06f730b9683caae9.js
        integrity=\"sha256-PR5lmOtvsYpk3NxioMjrzHDXHE4g54e9BvcwuWg8quk=\" crossorigin=anonymous
        defer></script><link rel=stylesheet href=/third-party/font-awesome/v6.7.1/css/fontawesome.min.css><link
        rel=stylesheet href=/third-party/font-awesome/v6.7.1/css/brands.min.css><link
        rel=stylesheet href=/third-party/font-awesome/v6.7.1/css/solid.min.css><link
        rel=stylesheet href=/assets/css/bundle.min.a5b59d8d88340ce250ad15f011cf0b40386bef2c3f4193a520bf0292be1bd32f.css
        integrity=\"sha256-pbWdjYg0DOJQrRXwEc8LQDhr7yw/QZOlIL8Ckr4b0y8=\" crossorigin=anonymous
        media=screen></head><body><main><nav class=\"navbar navbar-expand-lg navbar-dark
        bg-primary\"><div class=container-fluid><a class=\"navbar-brand d-none d-lg-block\"
        href=/>Refactoring English</a><div class=\"d-flex align-items-center justify-content-end
        flex-grow-1 flex-lg-grow-0 order-lg-last\"><a class=\"btn btn-cta\" href=/#purchase>Purchase</a>\n<button
        class=\"navbar-toggler ms-3\" type=button data-bs-toggle=collapse data-bs-target=#navbarNav
        aria-controls=navbarNav aria-expanded=false aria-label=\"Toggle navigation\">\n<span
        class=navbar-toggler-icon></span></button></div><div class=\"collapse navbar-collapse\"
        id=navbarNav><ul class=\"navbar-nav text-end text-lg-start\"><li class=\"nav-item
        d-lg-none\"><a class=nav-link href=/>Overview</a></li><li class=nav-item><a
        class=nav-link href=/contents/>Contents</a></li><li class=nav-item><a class=nav-link
        href=/blog>Blog</a></li><li class=nav-item><a class=nav-link href=/author>Author</a></li></ul></div></div></nav><div
        class=content><style>article .callout{width:fit-content;max-width:50ch;margin:3.5rem
        auto;padding:1.25rem .25rem;border-top:2px solid var(--color-ink-warm);border-bottom:2px
        solid var(--color-ink-warm);color:var(--color-ink-warm);font-family:var(--heading-font);font-size:1.4em;font-weight:700;line-height:1.35;text-align:center}@media(max-width:768px){article
        .callout{max-width:none;margin:2.5rem 0;font-size:1.25em}}</style><section
        class=chapter><article><header><h1 class=title>Anti-Patterns in Software Blogging</h1><p
        class=byline>by <a href=/author>Michael Lynch</a>, published\n<time datetime=2026-10-07T00:00:00Z>October
        7, 2026</time></p></header><p>In software development, we collect anti-patterns
        to recognize common traits that lead to poor outcomes in our software. I thought
        it would be helpful to do the same for software blogging, so I&rsquo;ve catalogued
        the most frequent mistakes I see from beginner bloggers.</p><ul><li><a href=#the-meandering-intro>The
        meandering intro</a><ul><li><a href=#preamble-still-counts-as-meandering>Pre[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/comments/1wzw4cw/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "programming", "selftext": "", "user_reports": [], "saved":
        false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title": "Anti-Patterns
        in Software Blogging", "link_flair_richtext": [], "subreddit_name_prefixed":
        "r/programming", "hidden": false, "pwls": 6, "link_flair_css_class": null,
        "downs": 0, "thumbnail_height": 93, "top_awarded_type": null, "hide_score":
        true, "name": "t3_1wzw4cw", "quarantine": false, "link_flair_text_color":
        "dark", "upvote_ratio": 0.92, "author_flair_background_color": null, "subreddit_type":
        "public", "ups": 20, "total_awards_received": 0, "media_embed": {}, "thumbnail_width":
        140, "author_flair_template_id": null, "is_original_content": false, "author_fullname":
        "t2_yb98f", "secure_media": null, "is_reddit_media_domain": false, "is_meta":
        false, "category": null, "secure_media_embed": {}, "link_flair_text": null,
        "can_mod_post": false, "score": 20, "approved_by": null, "is_created_from_ads_ui":
        false, "author_premium": false, "thumbnail": "default", "edited": false, "author_flair_css_class":
        null, "author_flair_richtext": [], "gildings": {}, "post_hint": "link", "content_categories":
        null, "is_self": false, "mod_note": null, "created": 1791378604.0, "link_flair_type":
        "text", "wls": 6, "removed_by_category": null, "banned_by": null, "author_flair_type":
        "text", "domain": "refactoringenglish.com", "allow_live_comments": false,
        "selftext_html": null, "likes": null, "suggested_sort": null, "banned_at_utc":
        null, "url_overridden_by_dest": "https://refactoringenglish.com/blog/anti-patterns-software-blogging/",
        "view_count": null, "archived": false, "no_follow": false, "is_crosspostable":
        false, "pinned": false, "over_18": false, "preview": {"images": [{"source":
        {"url": "https://external-preview.redd.it/W0xusI1vpB2NWmhN_k0dWbC1sK54fDpxYFt_KSr4OEs.jpeg?auto=webp\u0026s=e4e806e10618a41e86b39b8f00e83095daaa5e14",
        "width": 1536, "height": 1024}, "resolutions": [{"url": "https://external-preview.redd.it/W0xusI1vpB2NWmhN_k0dWbC1sK54fDpxYFt_KSr4OEs.jpeg?width=108\u0026crop=smart\u0026auto=webp\u0026s=06c52d02293ba5f3ebeafcf4ec33ec1997765ec0",
        "width": 108, "height": 72}, {"url": "https://external-preview.redd.it/W0xusI1vpB2NWmhN_k0dWbC1sK54fDpxYFt_KSr4OEs.jpeg?width=216\u0026crop=smart\u0026auto=webp\u0026s=08fa275b4f5ece042600428c8e4d3dc3928e5a43",
        "width": 216, "height": 144}, {"url": "https://external-preview.redd.it/W0xusI1vpB2NWmhN_k0dWbC1sK54fDpxYFt_KSr4OEs.jpeg?width=320\u0026crop=smart\u0026auto=webp\u0026s=b2f2997893e67ca6ef6b16098d522837b67e99d8",
        "width": 320, "height": 213}, {"url": "https://external-preview.redd.it/W0xusI1vpB2NWmhN_k0dWbC1sK54fDpxYFt_KSr4OEs.jpeg?width=640\u0026crop=smart\u0026auto=webp\u0026s=bb6d2bd574989278d7e865262e4b87ce8c9307e9",
        "width": 640, "height": 426}, {"url": "https://external-preview.redd.it/W0xusI1vpB2NWmhN_k0dWbC1sK54fDpxYFt_KSr4OEs.jpeg?width=960\u0026crop=smart\u0026auto=webp\u0026s=cee63cb9b3ff2496b8fdd6e49f7dea8fd32bafff",
        "width": 960, "height": 640}, {"url": "https://external-preview.redd.it/W0xusI1vpB2NWmhN_k0dWbC1sK54fDpxYFt_KSr4OEs.jpeg?width=1080\u0026crop=smart\u0026auto=webp\u0026s=efe13b98ee1ae5e37e26130d752734bf1547023c",
        "width": 1080, "height": 720}], "variants": {}, "id": "W0xusI1vpB2NWmhN_k0dWbC1sK54fDpxYFt_KSr4OEs"}],
        "enabled": false}, "all_awardings": [], "awarders": [], "media_only": false,
        "can_gild": false, "spoiler": false, "locked": false, "author_flair_text":
        null, "treatment_tags": [], "visited": false, "removed_by": null, "num_reports":
        null, "distinguished": null, "subreddit_id": "t5_2fwo", "author_is_blocked":
        false, "mod_reason_by": null, "removal_reason": null, "link_flair_background_color":
        "", "id": "1wzw4cw", "is_robot_indexable": true, "num_duplicates": 0, "report_reasons":
        null, "author": "mtlynch", "discussion_type": null, "num_comments": 2, "send_replies":
        true, "media": null, "contest_mode": false, "author_patreon_flair": false,
        "author_flair_text_color": null, "permalink": "/r/programming/comments/1wzw4cw/antipatterns_in_software_blogging/",
        "stickied": false, "url": "https://refactoringenglish.com/blog/anti-patterns-software-blogging/",
        "subreddit_subscribers": 6925138, "created_utc": 1791378604.0, "num_crossposts":
        0, "mod_reports": [], "is_video": false}}], "before": null}}, {"kind": "Listing",
        "data": {"after": null, "dist": null, "modhash": "", "geo_filter": "", "children":
        [{"kind": "t1", "data": {"subreddit_id": "t5_2fwo", "approved_at_utc": null,
        "author_is_blocked": false, "comment_type": null, "awarders": [], "mod_reason_by":
        null, "banned_by": null, "author_flair_type": "text", "total_awards_received":
        0, "subreddit": "programming", "author_flair_template_id": null, "likes":
        null, "replies": "", "user_reports": [], "saved": false, "id": "pefigum",
        "banned_at_utc": null, "mod_reason_title": null, "gilded": 0, "archived":
        false, "collapsed_reason_code": null, "no_follow": false, "author": "Successful-Money4995",
        "can_mod_post": false, "created_utc": 1791381001.0, "send_replies": true,
        "parent_id": "t3_1wzw4cw", "score": 7, "author_fullname": "t2_hzot6co7", "approved_by":
        null, "mod_note": null, "all_awardings": [], "collapsed": false, "body": "Verbosity
        is an antipattern", "edited": false, "top_awarded_type": null, "author_flair_css_class":
        null, "name": "t1_pefigum", "is_submitter": false, "downs": 0, "author_flair_richtext":
        [], "author_patreon_flair": false, "body_html": "\u003Cdiv class=\"md\"\u003E\u003Cp\u003EVerbosity
        is an antipattern\u003C/p\u003E\n\u003C/div\u003E", "removal_reason": null,
        "collapsed_reason": null, "distinguished": null, "associated_award": null,
        "stickied": false, "author_premium": false, "can_gild": false, "gildings":
        {}, "unrepliable_reason": null, "author_flair_text_color": null, "score_hidden":
        false, "permalink": "/r/programming/comments/1wzw4cw/antipatterns_in_software_blogging/pefigum/",
        "subreddit_type": "public", "locked": false, "report_reasons": null, "created":
        1791381001.0, "author_flair_text": null, "treatment_tags": [], "link_id":
        "t3_1wzw4cw", "subreddit_name_prefixed": "r/programming", "controversiality":
        0, "depth": 0, "author_flair_background_color": null, "collapsed_because_crowd_control":
        null, "mod_reports": [], "num_reports": null, "ups": 7}}, {"kind": "t1", "data":
        {"subreddit_id": "t5_2fwo", "approved_at_utc": null, "author_is_blocked":
        false, "comment_type": null, "awarders": [], "mod_reason_by": null, "banned_by":
        null, "author_flair_type": "text", "total_awards_received": 0, "subreddit":
        "programming", "author_flair_template_id": null, "likes": null, "replies":
        "", "user_reports": [], "saved": false, "id": "pefiqpg", "banned[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://survey.stackoverflow.co/2026
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n\t<head>\n\t\t<meta charset=\"utf-8\"
        />\n\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"
        />\n\t\t<meta name=\"text-scale\" content=\"scale\" />\n\n\t\t<script>\n\t\t\tdocument.documentElement.classList.add('js')\n\t\t</script>\n\n\t\t<link
        rel=\"icon\" href=\"/favicon.i[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/comments/1wz64oa/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "programming", "selftext": "", "user_reports": [], "saved":
        false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pola.rs/posts/release-polars-2/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" data-astro-cid-sckkx6r4> <head><meta
        charset=\"UTF-8\"><meta name=\"generator\" content=\"Astro v5.18.1\"><title>Polars
        \u2014 Release of Polars 2.0</title><link rel=\"icon\" href=\"/favicon.svg\"
        type=\"image/svg+xml\"><link rel=\"canonical\" href=\"https://pola.rs/posts/release-polars-2/\"><link
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/comments/1wzf37b/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "programming", "selftext": "", "user_reports": [], "saved":
        false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://peteronprogramming.wordpress.com/2026/10/07/post-mortem-debuggable-minimal-size-memory-dumps-on-macos/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" class=\"no-js\">\n<head>\n\t<meta
        charset=\"UTF-8\">\n\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n\t<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\t\t<link
        rel=\"pingback\" href=\"https:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/comments/1wzw1y7/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "programming", "selftext": "", "user_reports": [], "saved":
        false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title[...]
