interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"access_token": "<scrubbed-access-token>", "token_type": "bearer",
        "expires_in": 86400, "scope": "*"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-reddit-loid:
      - 000000002od6izo19h.2.1791383499869.Z0FBQUFBQnF4bGZOMzFsYWNVZWJQTk90aU5PYk9yS01LNGtoVGpTRFpEdmRQTWFXSldDZDZHbWxBQWY0T3AwUkRtR2lqaElXLXgxdmQ4UWk1NTlsNmh1OHhMYnVIUEdQT1lkODlJYVAtY2pDZzhLcHBUbGJ4UHdFWGxDOUY2czlqOGExQ3ZPZUZmUmQ
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/r/linux/hot?limit=60&raw_json=1
  response:
    body:
      string: '{"kind": "Listing", "data": {"after": "t3_1wrxqu2", "dist": 60, "modhash":
        "", "geo_filter": null, "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "linux", "selftext": "", "author_fullname": "t2_24zthge3",
        "saved": false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title":
        "Another Dozen Vulnerabilities Found In The X.Org Server \u0026 XWayland",
        "link_flair_richtext": [{"e": "text", "t": "Security"}], "subreddit_name_prefixed":
        "r/linux", "hidden": false, "pwls": 6, "link_flair_css_class": "", "downs":
        0, "top_awarded_type": null, "hide_score": false, "name": "t3_1wzkfgm", "quarantine":
        false, "link_flair_text_color": "dark", "upvote_ratio": 0.96, "author_flair_background_color":
        "transparent", "subreddit_type": "public", "ups": 253, "total_awards_received":
        0, "media_embed": {}, "author_flair_template_id": "d8229d54-cdf6-11e8-af76-0e74be164fe6",
        "is_original_content": false, "user_reports": [], "secure_media": null, "is_reddit_media_domain":
        false, "is_meta": false, "category": null, "secure_media_embed": {}, "link_flair_text":
        "Security", "can_mod_post": false, "score": 253, "approved_by": null, "is_created_from_ads_ui":
        false, "author_premium": false, "thumbnail": "", "edited": false, "author_flair_css_class":
        null, "author_flair_richtext": [{"a": ":gentoo:", "e": "emoji", "u": "https://emoji.redditmedia.com/h67ohuioqpr11_t5_2qh1a/gentoo"}],
        "gildings": {}, "content_categories": null, "is_self": false, "mod_note":
        null, "created": 1791337785.0, "link_flair_type": "richtext", "wls": 6, "removed_by_category":
        null, "banned_by": null, "author_flair_type": "richtext", "domain": "phoronix.com",
        "allow_live_comments": false, "selftext_html": null, "likes": null, "suggested_sort":
        null, "banned_at_utc": null, "url_overridden_by_dest": "https://www.phoronix.com/news/X.Org-12-New-Issues-2026",
        "view_count": null, "archived": false, "no_follow": false, "is_crosspostable":
        false, "pinned": false, "over_18": false, "all_awardings": [], "awarders":
        [], "media_only": false, "link_flair_template_id": "f5ca482e-5da5-11ec-8c3d-42d730f72f5c",
        "can_gild": false, "spoiler": false, "locked": false, "author_flair_text":
        ":gentoo:", "treatment_tags": [], "visited": false, "removed_by": null, "num_reports":
        null, "distinguished": null, "subreddit_id": "t5_2qh1a", "author_is_blocked":
        false, "mod_reason_by": null, "removal_reason": null, "link_flair_background_color":
        "", "id": "1wzkfgm", "is_robot_indexable": true, "report_reasons": null, "author":
        "anh0516", "discussion_type": null, "num_comments": 75, "send_replies": true,
        "contest_mode": false, "mod_reports": [], "author_patreon_flair": false, "author_flair_text_color":
        "dark", "permalink": "/r/linux/comments/1wzkfgm/another_dozen_vulnerabilities_found_in_the_xorg/",
        "stickied": false, "url": "https://www.phoronix.com/news/X.Org-12-New-Issues-2026",
        "subreddit_subscribers": 1924367, "created_utc": 1791337785.0, "num_crossposts":
        0, "media": null, "is_video": false}}, {"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "linux", "selftext": "Every now and then I see an ad for
        a new Linux-Phone, better repairability, battery change and whatnot. All this
        is very, very tempting, but what about the apps?  \n\n  \nI am not talking
        about browser, text messages or alarm clock - I am thinking about connectivity
        to my car, my smartwatch, my frequent-flyer benefit program, signal messenger
        and so on.\n\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.phoronix.com/news/X.Org-12-New-Issues-2026
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"https://www.w3.org/1999/xhtml\" lang=\"en\"
        xml:lang=\"en\">\n\t<head>\n\t\t<!-- Global site tag (gtag.js) - Google Analytics
        -->\n<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-1978569-1\"></script>\n<script>\n
        \ window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n
        \ gtag('js', new Date());\n\n  gtag('config', 'UA-1978569-1');\n</script>\n\n\n<script
        data-cfasync=\"false\" type=\"text/javascript\">\n  (()=>{\"use strict\";var
        t={455:(t,e,n)=>{n.d(e,{Z:()=>c});var r=n(81),o=n.n(r),i=n(645),a=n.n(i)()(o());a.push([t.id,'div._11xu1x1{position:f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/comments/1wzkfgm/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "linux", "selftext": "", "user_reports": [], "saved": false,
        "mod_reason_title": null, "gilded": 0, "clicked": false, "title": "Another
        Dozen Vulnerabilities Found In The X.Org Server \u0026 XWayland", "link_flair_richtext":
        [{"e": "text", "t": "Security"}], "subreddit_name_prefixed": "r/linux", "hidden":
        false, "pwls": 6, "link_flair_css_class": "", "downs": 0, "thumbnail_height":
        140, "top_awarded_type": null, "hide_score": false, "name": "t3_1wzkfgm",
        "quarantine": false, "link_flair_text_color": "dark", "upvote_ratio": 0.96,
        "author_flair_background_color": "transparent", "ups": 252, "total_awards_received":
        0, "media_embed": {}, "thumbnail_width": 140, "author_flair_template_id":
        "d8229d54-cdf6-11e8-af76-0e74be164fe6", "is_original_content": false, "author_fullname":
        "t2_24zthge3", "secure_media": null, "is_reddit_media_domain": false, "is_meta":
        false, "category": null, "secure_media_embed": {}, "link_flair_text": "Security",
        "can_mod_post": false, "score": 252, "approved_by": null, "is_created_from_ads_ui":
        false, "author_premium": false, "thumbnail": "default", "edited": false, "author_flair_css_class":
        null, "author_flair_richtext": [{"a": ":gentoo:", "u": "https://emoji.redditmedia.com/h67ohuioqpr11_t5_2qh1a/gentoo",
        "e": "emoji"}], "gildings": {}, "post_hint": "link", "content_categories":
        null, "is_self": false, "subreddit_type": "public", "created": 1791337785.0,
        "link_flair_type": "richtext", "wls": 6, "removed_by_category": null, "banned_by":
        null, "author_flair_type": "richtext", "domain": "phoronix.com", "allow_live_comments":
        false, "selftext_html": null, "likes": null, "suggested_sort": null, "banned_at_utc":
        null, "url_overridden_by_dest": "https://www.phoronix.com/news/X.Org-12-New-Issues-2026",
        "view_count": null, "archived": false, "no_follow": false, "is_crosspostable":
        false, "pinned": false, "over_18": false, "preview": {"images": [{"source":
        {"url": "https://external-preview.redd.it/_Ev2nTEGjNFVuVwgXPQe30fZV9ocYMrkNXE2J0HLrKU.jpeg?auto=webp\u0026s=77ca628e015752d059d8ade076e6de2e82ffb4a6",
        "width": 528, "height": 555}, "resolutions": [{"url": "https://external-preview.redd.it/_Ev2nTEGjNFVuVwgXPQe30fZV9ocYMrkNXE2J0HLrKU.jpeg?width=108\u0026crop=smart\u0026auto=webp\u0026s=792e359748cffc5e1700481feae5bb796c10d8e9",
        "width": 108, "height": 113}, {"url": "https://external-preview.redd.it/_Ev2nTEGjNFVuVwgXPQe30fZV9ocYMrkNXE2J0HLrKU.jpeg?width=216\u0026crop=smart\u0026auto=webp\u0026s=2ceac7aa50475a902f1445c2398365107f1d6d2e",
        "width": 216, "height": 227}, {"url": "https://external-preview.redd.it/_Ev2nTEGjNFVuVwgXPQe30fZV9ocYMrkNXE2J0HLrKU.jpeg?width=320\u0026crop=smart\u0026auto=webp\u0026s=d8cbec5c1539bc5a43f024e864a14ee87ba6d827",
        "width": 320, "height": 336}], "variants": {}, "id": "_Ev2nTEGjNFVuVwgXPQe30fZV9ocYMrkNXE2J0HLrKU"}],
        "enabled": false}, "all_awardings": [], "awarders": [], "media_only": false,
        "link_flair_template_id": "f5ca482e-5da5-11ec-8c3d-42d730f72f5c", "can_gild":
        false, "spoiler": false, "locked": false, "author_flair_text": ":gentoo:",
        "treatment_tags": [], "visited": false, "removed_by": null, "mod_note": null,
        "distinguished": null, "subreddit_id": "t5_2qh1a", "author_is_blocked": false,
        "mod_reason_by": null, "num_reports": null, "removal_reason": null, "link_flair_background_color":
        "", "id": "1wzkfgm", "is_robot_indexable": true, "num_duplicates": 1, "report_reasons":
        null, "author": "anh0516", "discussion_type": null, "num_comments": 75, "send_replies":
        true, "media": null, "contest_mode": false, "author_patreon_flair": false,
        "author_flair_text_color": "dark", "permalink": "/r/linux/comments/1wzkfgm/another_dozen_vulnerabilities_found_in_the_xorg/",
        "stickied": false, "url": "https://www.phoronix.com/news/X.Org-12-New-Issues-2026",
        "subreddit_subscribers": 1924367, "created_utc": 1791337785.0, "num_crossposts":
        0, "mod_reports": [], "is_video": false}}], "before": null}}, {"kind": "Listing",
        "data": {"after": null, "dist": null, "modhash": "", "geo_filter": "", "children":
        [{"kind": "t1", "data": {"subreddit_id": "t5_2qh1a", "approved_at_utc": null,
        "author_is_blocked": false, "comment_type": null, "awarders": [], "mod_reason_by":
        null, "banned_by": null, "author_flair_type": "text", "total_awards_received":
        0, "subreddit": "linux", "author_flair_template_id": null, "likes": null,
        "replies": {"kind": "Listing", "data": {"after": null, "dist": null, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t1", "data": {"subreddit_id":
        "t5_2qh1a", "approved_at_utc": null, "author_is_blocked": false, "comment_type":
        null, "awarders": [], "mod_reason_by": null, "banned_by": null, "author_flair_type":
        "text", "total_awards_received": 0, "subreddit": "linux", "author_flair_template_id":
        null, "likes": null, "replies": {"kind": "Listing", "data": {"a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/comments/1wzu6iw/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "linux", "selftext": "Every now and then I see an ad for
        a new Linux-Phone, better repairability, battery change and whatnot. All [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://alexalejandre.com/programming/lisp/janet-for-the-x32-abi/
  response:
    body:
      string: "<!doctype html><html lang=en><head><meta charset=utf-8><meta name=description
        content=\"RAM\u2019s expensive again. Can existing software run faster with
        50% less RAM via an unloved compiler flag?\"><title>Janet on x32: 32-bit Pointers,
        64-bit Speed, 25% Less RAM | Alex Alejandre</title><link rel=icon type=image/png
        sizes=36x36 href=/fav.webp><meta name=viewport content=\"width=device-width,initial-scale=1\"><link
        rel=stylesheet type=text/css href=/style9.min.css><link rel=alternate type=application/rss+xml
        href=/index.xml title=\"Alex Alejandre's Recent Posts\"><script data-goatcounter=https://alexalejandre.goatcounter.com/count
        async src=//gc.zgo.at/count.js></script><meta property=\"og:title\" content=\"Janet
        on x32: 32-bit Pointers, 64-bit Speed, 25% Less RAM\"><meta property=\"og:description\"
        content=\"RAM's expensive again. Can existing software run faster with 50%
        less RAM via an unloved compiler flag?\"><meta property=\"og:type\" content=\"article\"><meta
        property=\"article:author\" content=\"Alex Alejandre\"><meta property=\"og:url\"
        content=\"https://alexalejandre.com/programming/lisp/janet-for-the-x32-abi/\"><meta
        property=\"og:site_name\" content=\"Alex Alejandre's Recent Posts\"><meta
        property=\"article:published_time\" content=\"2026-10-06T14:50:05-06:00\"><script
        type=application/ld+json>{\"@context\":\"https://schema.org\",\"@type\":\"BlogPosting\",\"headline\":\"Janet
        on x32: 32-bit Pointers, 64-bit Speed, 25% Less RAM\",\"description\":\"RAM\u2019s
        expensive again. Can existing software run faster with 50% less RAM via an
        unloved compiler flag?\",\"dateCreated\":\"2026-10-06\",\"mainEntityOfPage\":\"https://alexalejandre.com/programming/lisp/janet-for-the-x32-abi/\",\"inLanguage\":\"en\",\"keywords\":\"Janet,
        linux, programming, c, lisp, performance\",\"author\":{\"@type\":\"Person\",\"name\":\"Alex
        Alejandre\",\"url\":\"https://alexalejandre.com/about/\",\"sameAs\":[\"https://www.linkedin.com/in/alexalejandre/\"]},\"publisher\":{\"@type\":\"Person\",\"name\":\"Alex
        Alejandre\",\"url\":\"https://alexalejandre.com/about/\",\"sameAs\":[\"https://www.linkedin.com/in/alexalejandre/\"]}}</script></head><body><aside><logo><a
        href=/><img src=https://alexalejandre.com/logo100.webp alt=\"Alex logo\"></a></logo><nav
        class=main-menu><ul><li><a href=https://alexalejandre.com/about/>About</a></li><li><a
        href=/finance/>Finance</a></li><li><a href=/interviews/>Interviews</a></li><li><a
        href=/languages/>Languages</a></li><li><a href=/notes/>Notes</a></li><li><a
        href=/other/>Other</a></li><li><a href=/poetry/>Poetry</a></li><li><a href=/programming/>Programming</a></li></ul><ul
        id=social><li><a href=https://alexalejandre.com/index.xml><img src=https://alexalejandre.com/rss-orange.webp
        alt=RSS></a></li><li><label class=dark-mode-toggle-label title=\"darkmode
        doesn't persist yet\" for=dark-mode-toggle><input id=dark-mode-toggle type=checkbox
        style=position:absolute;opacity:0;width:0;height:0;margin:0;padding:0;border:0;overflow:hidden;pointer-events:none>
        <svg aria-hidden=\"true\" width=\"1em\" height=\"1em\" class=\"theme-toggle__dark-side\"
        fill=\"currentColor\" viewBox=\"0 0 32 32\"><path d=\"M16 .5C7.4.5.5 7.4.5
        16S7.4 31.5 16 31.5 31.5 24.6 31.5 16 24.6.5 16 .5zm0 28.1V3.4C23 3.4 28.6
        9 28.6 16S23 28.6 16 28.6z\"/></svg></label></li><li><a href=https://www.linkedin.com/in/alexalejandre/
        title=LinkedIn target=_blank rel=noopener><img src=https://alexalejandre.com/linkedin.webp
        alt=LinkedIn></a></li></ul><br><nav class=hamburger-menu><nav id=TableOfContents><ul><li><ul><li><a
        href=#how-to-compile-for-32-bits>How to Compile for 32 Bits?</a></li><li><a
        href=#failing-on-arch>Failing on Arch</a></li><li><a href=#winning-on-deprecated-ubuntu>Winning
        on Deprecated Ubuntu</a></li><li><a href=#conclusion>Conclusion</a></li><li><a
        href=#ps-implications-for-janet>P.S. Implications for Janet</a></li><li><a
        href=#down-the-rabbit-hole>Down the Rabbit Hole</a></li></ul></li></ul></nav></nav><br><nav
        class=hamburger-menu><details><summary style=display:inline-block><h3 title=\"Click
        to see tags\">Tags \u2630</h3></summary><ul><li><a href=/tags/ai/>Ai</a><sup>3</sup></li><li><a
        href=/tags/apl/>Apl</a><sup>1</sup></li><li><a href=/tags/architecture/>Architecture</a><sup>6</sup></li><li><a
        href=/tags/array-languages/>Array Languages</a><sup>2</sup></li><li><a href=/tags/book-publish/>Book
        Publish</a><sup>1</sup></li><li><a href=/tags/brazil/>Brazil</a><sup>2</sup></li><li><a
        href=/tags/c/>C</a><sup>3</sup></li><li><a href=/tags/christianity/>Christianity</a><sup>1</sup></li><li><a
        href=/tags/clojure/>Clojure</a><[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/comments/1wzmoh1/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "linux", "selftext": "", "user_reports": [], "saved": false,
        "mod_reason_title": null, "gilded": 0, "clicked": false, "title": "Janet on
        x32: 32-bit Pointers, 64-bit Speed, 25% Less RAM", "link_flair_richtext":
        [{"e": "text", "t": "Kernel"}], "subreddit_name_prefixed": "r/linux", "hidden":
        false, "pwls": 6, "link_flair_css_class": "", "downs": 0, "thumbnail_height":
        null, "top_awarded_type": null, "hide_score": false, "name": "t3_1wzmoh1",
        "quarantine": false, "link_flair_text_color": "dark", "upvote_ratio": 0.91,
        "author_flair_background_color": null, "subreddit_type": "public", "ups":
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.phoronix.com/news/Intel-LPMD-Linux-Gaming
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"https://www.w3.org/1999/xhtml\" lang=\"en\"
        xml:lang=\"en\">\n\t<head>\n\t\t<!-- Global site tag (gtag.js) - Google Analytics
        -->\n<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-1978569-1\"></script>\n<script>\n
        \ window.dataLayer = window.dataLayer || [];\n  function g[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/comments/1wzuq71/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "linux", "selftext": "", "user_reports": [], "saved": false,
        "mod_reason_title": null, "gilded": 0, "clicked": false, "title": "Th[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.phoronix.com/news/Linux-CRAM-Compressed-RAM
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"https://www.w3.org/1999/xhtml\" lang=\"en\"
        xml:lang=\"en\">\n\t<head>\n\t\t<!-- Global site tag (gtag.js) - Google Analytics
        -->\n<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-1978569-1\"></script>\n<script>\n
        \ window.dataLayer = window.dataLayer || [];\n  function[...]
