interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"access_token": "<scrubbed-access-token>", "token_type": "bearer",
        "expires_in": 86400, "scope": "*"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-reddit-loid:
      - 000000002od4jxcwnm.2.1791381579748.Z0FBQUFBQnF4bEJMVU9FNE5zcWtVbkZmVE1zQ09YNW41NE9wb0djTHNiUGtIZHFGeVoxb1JnWEFYU0g0XzBJdmhlak1Cd3RpOWRqbWVLX1NRZHBFUEw3QnZOcjQtRWhyTEs4Q3hnaElaS0VrQ2tVVXk4T0FzSTZpeGQ0dl9MalprTVZhSW40a3U0Tm4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/r/python/hot?limit=51&raw_json=1
  response:
    body:
      string: '{"kind": "Listing", "data": {"after": "t3_1wome9v", "dist": 51, "modhash":
        "", "geo_filter": null, "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "Python", "selftext": "Post all of your code/projects/showcases/AI
        slop here. \n\nRecycles once a month.", "author_fullname": "t2_6l4z3", "saved":
        false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title": "Showcase
        Thread", "link_flair_richtext": [{"e": "text", "t": "Showcase"}], "subreddit_name_prefixed":
        "r/Python", "hidden": false, "pwls": 6, "link_flair_css_class": "showcase",
        "downs": 0, "thumbnail_height": null, "top_awarded_type": null, "hide_score":
        false, "name": "t3_1wxjay5", "quarantine": false, "link_flair_text_color":
        "light", "upvote_ratio": 0.95, "author_flair_background_color": null, "subreddit_type":
        "public", "ups": 15, "total_awards_received": 0, "media_embed": {}, "thumbnail_width":
        null, "author_flair_template_id": null, "is_original_content": false, "user_reports":
        [], "secure_media": null, "is_reddit_media_domain": false, "is_meta": false,
        "category": null, "secure_media_embed": {}, "link_flair_text": "Showcase",
        "can_mod_post": false, "score": 15, "approved_by": null, "is_created_from_ads_ui":
        false, "author_premium": true, "thumbnail": "self", "edited": false, "author_flair_css_class":
        null, "author_flair_richtext": [], "gildings": {}, "content_categories": null,
        "is_self": true, "mod_note": null, "created": 1791129917.0, "link_flair_type":
        "richtext", "wls": 6, "removed_by_category": null, "banned_by": null, "author_flair_type":
        "text", "domain": "self.Python", "allow_live_comments": false, "selftext_html":
        "\u003C!-- SC_OFF --\u003E\u003Cdiv class=\"md\"\u003E\u003Cp\u003EPost all
        of your code/projects/showcases/AI slop here. \u003C/p\u003E\n\n\u003Cp\u003ERecycles
        once a month.\u003C/p\u003E\n\u003C/div\u003E\u003C!-- SC_ON --\u003E", "likes":
        null, "suggested_sort": null, "banned_at_utc": null, "view_count": null, "archived":
        false, "no_follow": false, "is_crosspostable": false, "pinned": false, "over_18":
        false, "all_awardings": [], "awarders": [], "media_only": false, "link_flair_template_id":
        "f35fb004-c1ff-11ee-8305-565bc5d0cc73", "can_gild": false, "spoiler": false,
        "locked": false, "author_flair_text": null, "treatment_tags": [], "visited":
        false, "removed_by": null, "num_reports": null, "distinguished": null, "subreddit_id":
        "t5_2qh0y", "author_is_blocked": false, "mod_reason_by": null, "removal_reason":
        null, "link_flair_background_color": "#ff66ac", "id": "1wxjay5", "is_robot_indexable":
        true, "report_reasons": null, "author": "AutoModerator", "discussion_type":
        null, "num_comments": 23, "send_replies": true, "contest_mode": false, "mod_reports":
        [], "author_patreon_flair": false, "author_flair_text_color": null, "permalink":
        "/r/Python/comments/1wxjay5/showcase_thread/", "stickied": true, "url": "https://www.reddit.com/r/Python/comments/1wxjay5/showcase_thread/",
        "subreddit_subscribers": 1516008, "created_utc": 1791129917.0, "num_crossposts":
        0, "media": null, "is_video": false}}, {"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "Python", "selftext": "# Weekly Wednesday Thread: Advanced
        Questions \ud83d\udc0d\n\nDive deep into Python with our Advanced Questions
        thread! This space is reserved for questions about more advanced Python topics,
        frameworks, and best practices.\n\n## How it Works:\n\n1. **Ask Away**: Post
        your advanced Python questions here.\n2. **Expert Insights**: Get answers
        from experienc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://oauth.reddit.com/comments/1wz0yz1/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "Python", "selftext": "Hey all! We just released Polars
        2.0.\n\nWe are really happy with the results. It removed many of our \"leg[...]
