interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://wsj.com/tech/ai/quiet-story
  response:
    body:
      string: <html><body>Forbidden</body></html>
    headers:
      Content-Type:
      - text/html
    status:
      code: 403
      message: Error
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hacker-news.firebaseio.com/v0/item/60000021.json
  response:
    body:
      string: '{"id": 60000021, "type": "story", "title": "Quiet story"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://wsj.com/tech/ai/failing-story
  response:
    body:
      string: <html><body>Forbidden</body></html>
    headers:
      Content-Type:
      - text/html
    status:
      code: 403
      message: Error
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hacker-news.firebaseio.com/v0/item/60000031.json
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 500
      message: Error
version: 1
