interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://wsj.com/tech/ai/blocked-story
  response:
    body:
      string: <html><body>Forbidden</body></html>
    headers:
      Content-Type:
      - text/html
    status:
      code: 403
      message: Error
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hacker-news.firebaseio.com/v0/item/60000001.json
  response:
    body:
      string: '{"id": 60000001, "kids": [60000002, 60000003], "type": "story", "title": "Blocked story"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hacker-news.firebaseio.com/v0/item/60000002.json
  response:
    body:
      string: '{"id": 60000002, "by": "dtf", "parent": 60000001, "text": "First comment on the blocked
        story.<p>Second paragraph.", "type": "comment"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hacker-news.firebaseio.com/v0/item/60000003.json
  response:
    body:
      string: '{"id": 60000003, "by": "bix6", "parent": 60000001, "text": "Second comment mentions &quot;quotes&quot;.",
        "type": "comment"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
